.event-card {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 200px;
    min-height: 150px;
    background-color: #fff;
    text-align: center;
  }
  
  .event-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .event-content {
    padding: 15px;
  }
  
  .event-title {
    font-size: 1.5em;
    margin: 0 0 10px 0;
  }
  
  .event-date,
  .event-description {
    color: gray;
    margin: 0 0 10px 0;
  }
  
  .event-description {
    font-size: 1em;
  }
  