
    .header {
      display: flex ;
      justify-content: 'space-between';
      margin-bottom: '20px';
      font-size: 12px;
    }
    .breadcrumb {
      font-size: 24px ;
      color: #2d3748 ;
    }
    .actions {
      display: flex ;
      align-items: 'center',
    }
    .search {
      padding: 10px ;
      border:  1px solid #e2e8f0 ;
      border-radius: 15px ;
    }
    .button {
      margin-left: 10px ;
      background-color: #2d3748 ;
      color: #ffffff ;
      border: none ;
      border-radius: 5px ;
      padding: 10px ;
      cursor: pointer ;
    }