body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
}

.notification-container {
    text-align: center;
    color: #344b67;
    font-family: 'Airbnb Cereal App', sans-serif;
    max-width: 375px;
}

.notification-action-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 375px;
    height: 80px;
    background-color: #fff;
    padding: 0 16px;
}

.notification-status {
    display: flex;
    align-items: center;
}

.back-icon {
    width: 22px;
    height: 22px;
    margin-right: 8px;
    background: url('https://placeholder.pics/svg/22x22') no-repeat center center;
}

.notification-title-bar {
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #120d26;
}

.notification-icons {
    display: flex;
    align-items: center;
    font-size: 400;
    width: 2px;
    height: 5px;
}

.artwork {
    position: relative;
    margin-top: 60px;
}

.bell-icon {
    width: 177px;
    height: 219px;
    background-image: url('https://placeholder.pics/svg/177x219');
    display: block;
    margin: 0 auto;
}

.notification-count {
    position: absolute;
    bottom: 10px;
    right: 20px;
    background-color: #566df2;
    color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.notification-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    margin-top: 16px;
    color: #344b67ff;
}

.notification-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-top: 16px;
    opacity: 0.7;
}
