 /* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

/* Login Page Layout */
.login-page {
  background: linear-gradient(rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%, );
  width: auto;
  display: flex;
  align-items: center;
  height: auto;
  justify-content: flex-start
}

/* Login Form Styles */
.login-form {
  display: flex;
  flex-direction: column;
  width: 100% ;
  max-width: 400px;
  height: auto;
  background-color: #fff;
  border-radius: 8px;
  justify-content: center;
}

/* Heading */
h1 {
  font-size: 32px;
  font-weight: 700;
  color: #000;
  text-align: center;
}

/* Subtitle */
.subtitle {
  text-align: center;
  font-size: 14px;
  color: #a0aec0;
  margin-bottom: 5px;
}

/* Input Group */
.input-groups {
  margin-bottom: 2px;
  width: 100%;
  padding: 8px;
  font-size: 12px;
}

.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input-wrapper input {
  border: 1px solid #e2e8f0;
  font-size: 14px;
  width: 400px;
  height: 50px;
  padding: 0px 20px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 400;
}

.password-toggle {
  position: absolute;
  align-items: center;
  justify-content: center;
  right: -50px; /* Position the icon on the right side inside the input box */
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 2;
}

.password-toggle i {
  width: 2px;
  font-size: 18px;
  color: grey;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 2px;
  padding-bottom: 5px;
}

.remember-checkbox {
  width: 16px; /* Size of the checkbox */
  height: 16px;
  cursor: pointer; /* Make the checkbox pointer-friendly */
}

.remember-label {
  font-size: 14px;
  color: #333;
  cursor: pointer;
  margin-left: -4px; /* Adjust as needed */
  margin: 0; /* Reset all margin values */
  padding: 0; /* Reset padding */
  padding-bottom: 10px;
}


/* Sign In Button */
.signin-button {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  background-color: #f2ca46;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #000;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.signin-button:hover{
  background-color: #f2ca46de;
}

/* Signup Link */
.signup-link {
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
  color: #a0aec0;
}

.signup-link a {
  color: #2b6cb0;
  text-decoration: none;
}

.signup-link a:hover{
  color: #2b6bb0e2;
}

/* Sidebar Styles */
.sidebar1 {
  position: absolute;
  right: 0;
  display: flex;
  background-color: #000;
  height: 100px;
  max-width: 400px;
  height: 100vh;
  border-radius: 299px 0px 0px 145px;
}

.sidebarMobile{
  display: none;
}

@media screen and (max-width: 1350px) {
  .sidebar1 {
    width: 350px;
  }

  .login-form {
    max-width: 480px;
  }
}

@media screen and (max-width: 940px) {
  .input-groups input {
    height: 47px;
  }

  .login-form {
    margin-left: 40px;
  }
}

/* Responsive Design */
@media (max-width: 780px) {
  /* Adjust the layout for mobile */

  .login-form{
    height: auto;
    width: auto;
  }

  .login-page {
    background: url('../../assets/owl-logo5.png') center/cover no-repeat;
    flex-direction: column;
  }

  .sidebar1 {
    display: none;
  }

  .sidebarMobile {
    display: flex;
    justify-content: center;
  }

  .sidebarMobile img {
    max-height: 130%;
  }
}

@media (max-width: 480px) {
  /* Adjust the layout for mobile */

  .login-form{
    width: 92vw;
    height: auto;
    position: absolute;
    z-index: 99;
    top: 20%;
    margin: 0;
  }

  .login-page{
    background: linear-gradient(rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url('../../assets/owl-logo5.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-items: flex-start;
  }

  h1 {
    font-size: 28px; /* Smaller heading on mobile */
  }

  .input-group input {
    font-size: 16px; /* Larger input text on mobile */
  }

  .signin-button {
    font-size: 16px; /* Larger button text on mobile */
  }

  .subtitle {
    font-size: 12px; /* Smaller subtitle on mobile */
  }

  .login-page {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../../assets/owl-logo5.png') center/cover no-repeat;
  }
}


/* Tablet-Specific Styles */
@media (max-width: 1024px) {
  .login-page {
    justify-content: flex-start;
  }

  .login-form {
   /* Adjust form width to accommodate sidebar */
    padding: 30px; /* Reduce padding on tablet */

  }

  .sidebar1 {
    width: 300px;
  }
}
