/* MainDashboard.css */
.breadcrumb {
    font-weight: bold;
    margin-bottom: 20px;
  }

  .cards {
    display: flex;
  }
.cards1 {
  display: flex;
  margin-top: 10px;
}

  .card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-right: 20px;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  .card span {
    font-weight: bold;
  }

  .card p {
    font-size: 20px;
    margin: 5px 0;
  }
  .percent {
    font-size: 15px;
    color: green;

  }
  .percent-n {
    font-size: 15px;
    color: red;

  }
.iconcard {
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
}
.icontext {
  font-size: 12px;
  align-content: center;
  align-self: center;
  vertical-align: middle;
}
.innercard {
  display: flex;
  vertical-align: middle;
  margin-bottom: -10px;
}

.upperdiv {

}

.upperdivspan {
  font-size: 15px;
  text-align: justify;
  margin-left: 10%;
}
