.const-styles {
    container: 0 ;
      display: flex ;
      justify-content: space-between ;
      margin-bottom: 20px ;
    }
    
    .card {
      padding: 20px ;
      width: 23% ;
      background-color: #ffffff ;
      border-radius: 8px ;
      box-shadow: 0 1px 2px rgba(0,0,0,0.1) ;
    }

    .cardText {
      display: flex ;
      flex-direction: column ;
    }

    .cardTitle {
      font-size: 12px ;
      color: #a0aec0 ;
    }

    .amount {
      font-size: 18px ;
      font-weight: bold ;
      color: #2d3748 ;
    }

    .change {
      font-size: 14px ;
      font-weight: bold ;
    }