/* Analytics.css */
.analytics {
  padding: 20px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: gold;
  text-align: center;
  max-width: 600px;
  margin: 20px auto;
}

.analytics h3 {
  margin-bottom: 15px;
  font-size: 24px;
  color: Black;
  font-weight: bold;
}

.analytics p {
  font-size: 16px;
  color: gold;
  margin-top: 10px;
}

