.card-container {
    width: 328px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
}

.card-title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.payment-method {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.payment-method p {
    font-size: 14px;
    font-weight: 500;
}

.card-icons img {
    margin-left: 10px;
    height: auto ;
    width: 55px ;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    font-size: 16px;
    color: #000;
}

.select-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    font-size: 16px;
    color: #b8b8b8;
}

.expiry-group {
    display: flex;
    justify-content: space-between;
}

.info-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.continue-button {
    width: 100%;
    padding: 15px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
}
