/*.const-styles {*/
    .page{
      display: flex ;
      min-height: 100vh ;
      background-color: whitesmoke ;
    }

    main {
      flex: 1;
      padding: 20px ;
    }

    .bottom-sections {
      display: flex ;
      justify-content: space-between ;
      margin-top: 20px ;
    }

    .content {
      margin-left: 250px;
      padding: 20px;

    }
