@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');


* {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    max-width: 100%;
}
body{
    background-color: white;
      font-family: "Funnel Display", sans-serif;
      font-style: normal;
}

.appdiv {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
