
* {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    max-width: 100%;
}
body{
    background-color: white;
}

.appdiv {
    width: 100%;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    padding-left: 1%;
}
