body, html {
    margin: 0;
    padding: 0;
    font-family: 'Airbnb Cereal App', sans-serif;
    background-color: #fff;
  }
  
  .reset-password {
    padding: 16px;
    max-width: 375px;
    margin: auto;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
  }
  
  .back-icon {
    width: 22px;
    height: 22px;
  }
  
  .status-bar {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .status-icon {
    width: 20px;
    height: auto;
  }
  
  .content {
    margin-top: 50px;
  }
  
  h1 {
    font-size: 24px;
    font-weight: 500;
    color: #120d26;
  }
  
  .description {
    margin: 20px 0;
    font-size: 15px;
    color: #120d26;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    border: 1px solid #e2e8f0;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 20px;
  }
  
  .input-container img {
    margin-right: 10px;
  }
  
  .input-container input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    color: #747688;
  }
  
  .send-button {
    background-color: #f2ca46;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    outline: none;
    letter-spacing: 1px;
  }
  
  .send-icon {
    margin-left: 10px;
    font-size: 16px;
  }
  