/*.const-styles

    footer {
      margin-top: 20px ;
      padding: 10px 0 ;
      display: flex ;
      justify-content: space-between ;
      font-size: 12px ;
      color: #a0aec0 ;
    }

    link {
      color: #a0aec0 ;
      text-decoration: none ;
      margin-right: 15px ;
    }
